ng-cloak {
	display: none;
}

body {
	font-family: Arial;
	font-size: large;	
}

.headers {
	font-family: Arial;
	font-size: larger;
}

.pagetexts { 
	font-family: Arial;
	font-size: large;
}

table {
	width: 100%;
	font-family: Helvetica;
	font-size: larger;
}

tr:nth-child(odd) {
	background-color: rgba(100, 100, 100, .3);
}

tr:nth-child(even) {
	background-color: rgba(30, 30, 200, .3);
}

tr:hover {
	background-color: rgba(100, 100, 200, .8);
}

td {
	padding: 30px;
}

h1 {
	font-weight: bold;
	text-align: center;
}
tr {

}

th {
	text-align: center;
}

/** Specialized **/

.appBody { 
	margin: auto;
	width: 50%;
	padding: 40px;
	background-color: rgb(245, 241, 240);
}

.mealInputField {
	width: 50%;
	font-color: black;
	border: none;
	height: 40px;
	font-size: 20px;
}

.result {
	font-size: 30px;
	color: green;
}

.btn {
	background-color: rgba(100, 100, 100, .3);
	border: none;
	color: rgb(0, 100, 200);
	width: 100px;
	height: 40px;
	font-weight: bold;
}

.btn:hover {
	background-color: rgba(0, 100, 255, .8);
	color: white;
}

.pickedFood {
	background-color: rgba(0, 200, 0, .8);
}

.error { 
	background-color: red;
}
